.sidebar {
  width: 320px;
  height: calc(100% - 64px);
  position: fixed;
  top: 64px;
  left: 0;
  overflow-y: scroll;
  background-color: var(--nextui-colors-background);
  padding: 1rem;
  box-sizing: border-box;
}

.sidebarContent {
  position: relative;
}

.mainContent {
  margin-left: 360px;
  width: calc(100% - 320px);
  padding: 2rem;
  box-sizing: border-box;
}
